In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
import datetime
import itertools
import collections

In [4]:
data = pd.read_csv('C:/Users/1311959/Desktop/python/data.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

# Предобработка датасета

In [919]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
data['income'] = data['revenue'] - data['budget'] # сюда можем вписать создание новых колонок в датасете
movie_studios=[]
for index, d in data.iterrows():
    movie_studios +=  [ (d.imdb_id, x) for x in d.production_companies.split('|')]
studios=pd.DataFrame(movie_studios, columns=['imdb_id', 'studio'])
studios

        imdb_id                                             studio
0     tt0369610                                  Universal Studios
1     tt0369610                               Amblin Entertainment
2     tt0369610                                 Legendary Pictures
3     tt0369610                            Fuji Television Network
4     tt0369610                                             Dentsu
5     tt1392190                          Village Roadshow Pictures
6     tt1392190                         Kennedy Miller Productions
7     tt2908446                               Summit Entertainment
8     tt2908446                                   Mandeville Films
9     tt2908446                            Red Wagon Entertainment
10    tt2908446                                            NeoReel
11    tt2488496                                          Lucasfilm
12    tt2488496                              Truenorth Productions
13    tt2488496                                          Bad Robot
14    tt2820852                                 Universal Pictures
15    tt2820852                                      Original Film
16    tt2820852                               Media Rights Capital
17    tt2820852                                             Dentsu
18    tt2820852                                     One Race Films
19    tt1663202                                Regency Enterprises
20    tt1663202                                         Appian Way
21    tt1663202                                          CatchPlay
22    tt1663202                                  Anonymous Content
23    tt1663202                               New Regency Pictures
24    tt1340138                                 Paramount Pictures
25    tt1340138                               Skydance Productions
26    tt3659388             Twentieth Century Fox Film Corporation
27    tt3659388                             Scott Free Productions
28    tt3659388                                 Mid Atlantic Films
29    tt3659388                              International Traders
...         ...                                                ...
6049  tt0199725                        40 Acres & A Mule Filmworks
6050  tt0176783                              Warner Bros. Pictures
6051  tt0180073                           Fox Searchlight Pictures
6052  tt0180073                             Industry Entertainment
6053  tt0180073                                Walrus & Associates
6054  tt0180073                                 Hollywood Partners
6055  tt0180073                              Charenton Productions
6056  tt0190374                                    New Line Cinema
6057  tt0190374                                    Silver Pictures
6058  tt0190374                             Sweetpea Entertainment
6059  tt0213790                                        SNL Studios
6060  tt0217756                              Bel Air Entertainment
6061  tt0217756                                       Warner Bros.
6062  tt0122459                          Metro-Goldwyn-Mayer (MGM)
6063  tt0122459                                    JLT Productions
6064  tt0120903             Twentieth Century Fox Film Corporation
6065  tt0120903                                   Donners' Company
6066  tt0120903                          Bad Hat Harry Productions
6067  tt0120903                                 Marvel Enterprises
6068  tt0120903                             Springwood Productions
6069  tt0192255                                    New Line Cinema
6070  tt0131704                                 Universal Pictures
6071  tt0131704                              Capella International
6072  tt0131704                                       KC Medien AG
6073  tt0131704                                Tribeca Productions
6074  tt0162983                          Laurence Mark Productions
6075  tt0162983                      Columbia Pictures Corporation
6076  tt0162983  Global Entertainment Productions GmbH & Compan...
6077  tt0162983                            Nora Ephron Productions
6078  tt0163676                              Warner Bros. Pictures

[6079 rows x 2 columns]

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [1]:
budget_max = data[data.budget == data.budget.max()]
budget_max

NameError: name 'data' is not defined

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [921]:
runtime_max = data[data.runtime == data.runtime.max()]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [922]:
runtime_min = data[data.runtime == data.runtime.min()]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [923]:
runtime_mean = round(data.runtime.mean(),0)
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [924]:
runtime_median = round(data.runtime.median(),0)
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [925]:
income_max = data[data.income == data.income.max()]
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [926]:
income_min = data[data.income == data.income.min()]
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [927]:
number_of_profitable_filmes = data.income[data.income > 0].count()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [928]:
films_2008 = data[data.release_year == 2008]
film_2008_max = films_2008[films_2008.income == films_2008.income.max()]
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [929]:
films_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
films_2012_2014_unprofitable = films_2012_2014[films_2012_2014.income == films_2012_2014.income.min()]
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [930]:
top_genre = pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts().head(1)
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [931]:
genres = data[data['income'] > 0]['genres']
profitable = pd.DataFrame(genres.str.split('|').to_list()).stack().value_counts().head(1)
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [932]:
directors = data.director.value_counts()
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [933]:
top_director = data.query('income > 0').groupby('director')['income'].count().sort_values(ascending = False).head(1)
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [934]:
profitable_director = pd.pivot_table(data, values = 'income', index = 'director',
              aggfunc = sum).sort_values('income', ascending = False).head(1)
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [935]:
actors_list = pd.DataFrame(data.cast.str.split('|').tolist()).stack().unique().tolist()
actors_profit_df = pd.DataFrame({'income':0.}, index = actors_list) 
actors_profit_df.loc['Emma Watson'] = data[data.cast.str.contains('Emma Watson')].income.sum()
actors_profit_df.loc['Johnny Depp'] = data[data.cast.str.contains("Johnny Depp")].income.sum()
actors_profit_df.loc['Michelle Rodriguez'] = data[data.cast.str.contains("Michelle Rodriguez")].income.sum()
actors_profit_df.loc['Orlando Bloom'] = data[data.cast.str.contains("Orlando Bloom")].income.sum()
actors_profit_df.loc['Rupert Grint'] = data[data.cast.str.contains("Rupert Grint")].income.sum()
actors_profit_df.sort_values(by=['income'], ascending=False).head(1)
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [936]:
films2012 = data.query('release_year == 2012')
actors_list2012 = pd.DataFrame(films2012.cast.str.split('|').tolist()).stack().unique().tolist()
actors_income2012_df = pd.DataFrame({'income':0.}, index = actors_list2012)
actors_income2012_df.loc['Nicolas Cage'] = films2012[films2012.cast.str.contains('Nicolas Cage')].income.sum()
actors_income2012_df.loc['Danny Huston'] = films2012[films2012.cast.str.contains("Danny Huston")].income.sum()
actors_income2012_df.loc['Kirsten Dunst'] = films2012[films2012.cast.str.contains("Kirsten Dunst")].income.sum()
actors_income2012_df.loc['Jim Sturgessm'] = films2012[films2012.cast.str.contains("Jim Sturgessm")].income.sum()
actors_income2012_df.loc['Sami Gayle'] = films2012[films2012.cast.str.contains("Sami Gayle")].income.sum()
actors_income2012_df.sort_values(by = ['income']).head(1)
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [937]:
data_high_budget = data.query('budget > budget.mean()')
actors = pd.DataFrame(data_high_budget.cast.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [938]:
Nicolas_Cage = data[data.cast.map(lambda x: True if "Nicolas Cage" in x else False)]
genres = Nicolas_Cage.genres.str.split('|').tolist()
count_genres = []
for i in genres:
    for j in i:
        count_genres.append (j)
df = pd.DataFrame({'col1': count_genres})
df.col1.value_counts().head(1)
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [939]:
productions = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().tolist()
def most_frequent(List):

    return max(set(List), key = List.count)
most_frequent(productions)
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [940]:
films2015 = data[data.release_year == 2015]
productions2015 = pd.DataFrame(films2015.production_companies.str.split('|').tolist()).stack().tolist()
most_frequent(productions2015)
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [941]:
productions_list = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().unique().tolist()
productions_income_df = pd.DataFrame({'income':0.}, index = productions_list) 
productions_income_df.loc['Warner Bros'] = data[(data.production_companies.str.contains("Warner Bros")) & (data.genres.str.contains("Comedy"))].income.sum()
productions_income_df.loc['Universla Pictures'] = data[(data.production_companies.str.contains("Universal Pictures")) & (data.genres.str.contains("Comedy"))].income.sum()
productions_income_df.loc['Columbia Pictures'] = data[(data.production_companies.str.contains("Columbia Pictures")) & ((data.genres.str.contains("Comedy")))].income.sum()
productions_income_df.loc['Paramount Pictures'] = data[(data.production_companies.str.contains("Paramount Pictures")) & (data.genres.str.contains("Comedy"))].income.sum()
productions_income_df.loc['Walt Disney'] = data[(data.production_companies.str.contains("Walt Disney")) & ((data.genres.str.contains("Comedy")))].income.sum()
productions_income_df.sort_values(by=['income'], ascending=False).head(1)
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [942]:
productions_list = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().unique().tolist()
productions_income_df = pd.DataFrame({'income':0.}, index = productions_list) 
productions_income_df.loc['Warner Bros'] = data[(data.production_companies.str.contains("Warner Bros")) & (data.release_year == 2012)].income.sum()
productions_income_df.loc['Universla Pictures'] = data[(data.production_companies.str.contains("Universal Pictures")) & (data.release_year == 2012)].income.sum()
productions_income_df.loc['Columbia Pictures'] = data[(data.production_companies.str.contains("Columbia Pictures")) & (data.release_year == 2012)].income.sum()
productions_income_df.loc['Paramount Pictures'] = data[(data.production_companies.str.contains("Paramount Pictures")) & (data.release_year == 2012)].income.sum()
productions_income_df.loc['Walt Disney'] = data[(data.production_companies.str.contains("Walt Disney")) & (data.release_year == 2012)].income.sum()
productions_income_df.sort_values(by=['income'], ascending=False).head(1)
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [943]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='income').head(1)
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [944]:
release_years = pd.pivot_table(data, values = 'income',
              index = 'release_year',
              aggfunc = sum)
release_years.sort_values(by = 'income', ascending = False).head(1)
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [945]:
Warner_Bros = data[data.production_companies.str.contains('Warner Bros')]
Warner_Bros_years = pd.pivot_table(a, values = 'income',
              index = 'release_year',
              aggfunc = sum)
Warner_Bros_years.sort_values(by='income', ascending = False).head(1)
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [946]:
film_counts = pd.pivot_table(data, values = 'original_title',
              index = 'release_date',
              aggfunc = 'count')
January = film_counts[:91].sum()
October = film_counts[92:232].sum()
Noveber = film_counts[233:346].sum()
December = film_counts[347:481].sum()
February = film_counts[482:583].sum()
March = film_counts[584:694].sum()
April = film_counts[695:809].sum()
May = film_counts[810:925].sum()
June = film_counts[926:1047].sum()
July = film_counts[1048:1157].sum()
August = film_counts[1158:1281].sum()
September = film_counts[1282:].sum()
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [947]:
len (data[data.release_date.str.match ('6/')]) + \
len (data[data.release_date.str.match ('7/')]) + \
len (data[data.release_date.str.match ('8/')])
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [948]:
winter = data[(data.release_date.str.match ('12/')) | (data.release_date.str.match ('1/')) | (data.release_date.str.match ('2/'))]
directors_winter= pd.pivot_table(winter, values = 'original_title',
              index = 'director',
              aggfunc = 'count')
directors_winter.sort_values(by='original_title', ascending = False).head(1)
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [949]:
incomes = pd.pivot_table(data, values = 'income', 
              columns = 'release_year',
              index = 'release_date',
              aggfunc = sum)
incomes.idxmax(axis = 0).value_counts()
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [950]:
data['nlen'] = data.original_title.apply(len)
studios.merge(data, on='imdb_id').groupby('studio').agg('mean').sort_values('nlen', ascending=False)
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [951]:
data['wordlen'] = data.original_title.apply(lambda x: len(x.split()))
data.head()
studios.merge(data, on = 'imdb_id').groupby('studio').agg('mean').sort_values('wordlen', ascending = False)
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [952]:
import string
words=set()
for i,d in data.iterrows():
    words |= set([x.lower() for x in d.original_title.split()])
len(words)
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [953]:
q = data.vote_average.value_counts(bins = 100)
np.percentile(data.vote_average, 99)
data[data.vote_average >= 7.8].original_title
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [954]:
actor_numbers = collections.Counter()
for i, d in data.iterrows():
    _a = d.cast.split('|')
    actor_numbers.update([ x for x in itertools.combinations(_a, 2)])
actor_numbers.most_common(5)
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [955]:
directrs_films = []
for index,f in data.iterrows():
    for d in f.director.split('|'):
        directrs_films += [(f.imdb_id, d)]
directors_df = pd.DataFrame(directrs_films, columns=['imdb_id', 'single_director'])
directors_df.describe()
count_y = lambda x: len([ i for i in x if i  > 0])
count_n = lambda x: len([ i for i in x if i <= 0])
data['income_y'] = data['income']
data['income_n'] = data['income']
filter=['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
res=directors_df.merge(data, on='imdb_id').groupby('single_director').aggregate({"imdb_id": len, "income_y": count_y, "income_n": count_n})
res['p'] = res.income_y / res.imdb_id
res.sort_values(by='p', ascending=False)
res.reset_index(inplace=True)
res[res.single_director.isin(filter)].sort_values(by='p', ascending=False)
answer_ls.append(4)

# Submission

In [956]:
len(answer_ls)

36

In [957]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4